body {
    margin: 0;
}

.registration-card {
    width: 530px;
    height: 422px;
    font-size: 12pt;
    font-family: arial, sans-serif;
}

.patient-details {
    margin-top: 167px;
    margin-left: 55px;
}

.patient-details li {
    list-style-type: none;
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 24px;
}

.patient-details li .patient-id {
    margin-left: 130px;
}