 body {
      margin: 0;
    }
    .registration-card {
      width: 530px;
      height: 422px;
      font-size: 14pt;
      font-family: arial, sans-serif;
    }
    .patient-details {
      margin-top: 207px;
      margin-left: 64px;
    }
    .patient-details li {
      list-style-type: none;
      font-weight: bold;
      font-size: 17pt;
      margin-bottom: 35px;
    }
    .patient-details li .patient-id {
      margin-left: 150px;
    }
