body {
  margin: 0;
}

.registration-card {
  width: 530px;
  height: 422px;
  font-size: 12pt;
  font-family: arial, sans-serif;
}

.patient-details {
  margin-top: 155px;
  margin-left: 65px;
}

.patient-details li {
  list-style-type: none;
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 20px;
}

.patient-details li .patient-id {
  margin-left: 139px;
}
@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 120mm;
    height: 80mm;
  }
  /* ... the rest of the rules ... */
}