@charset "UTF-8";

@page{
    margin-left: .3cm;
    margin-right: .3cm;
    margin-top: .3cm;
    margin-bottom: .3cm;
}

p,h1,h2,h3,table,tr,td,div,span,ul,li{
    margin:0px;
    padding:0px;
}
h1,h2,h3{
    text-align: center;
    line-height: 1;
    font-family: "Arial Unicode";
}
.print-center{
    text-align:center;
}
ul li {
    list-style-type: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1%;
    border-bottom: 1px solid #666;
}
body {
    margin: 20px;
}
table th {
    width: 25%;
}
table th, table td{
    border: 1px solid #666;
    text-align: left;
    padding: 5px 10px 0px 10px;
}
table td{
    border-top-width: 0;
    border-bottom-width: 0;
}
input {
    border: 1px solid #666;
    height: 30px;
}
input.number {
    width: 180px;
}
.title {
    margin-top: 10px;
    width: 60%;
    /*    margin: 0 auto;*/
    float: left;
}
.primary-details {
    width: 20%;
    float: right;
    text-align: center;
}
.primary-details ul li {
    margin-bottom: 5px;
    font-weight: 900;
}
.primary-details ul li.caseNo .value{
    padding: 3px 10px;
    border: 1px solid #666;
}

.header {
    clear: both;
    overflow: auto;
}
.patient-info {
    margin: 5px 0;
    float: right;
}
.patient-info ul li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    height:35px;
}
.patient-info ul li .label{
    font-weight: 900;
}

.patient-info ul li .value {
    border-bottom: 0px;
    width: 110px;
    display: inline-block;
}
.patient-info ul li .value span.gender-wrap span{ display:block;font-size:12px; line-height:1;}
.patient-info ul li .value span.gender-wrap span.gender-top{ position:relative;padding-top:7px;}
.patient-info ul li .value span.gender-wrap span.gender-top:before{
    content: "\2190";
    display:block;
    width:100%;
    height:10px;
    top:-3px;
    position:absolute;
}

.patient-info ul li .value-line {
    border-bottom: 1px solid #666;
    width: 130px;
    display: inline-block;
}
.patient-info ul li .value.name {
    width: 254px;
}
.patient-info ul li .value.mobile {
    width: 180px;

}
.patient-info ul li .value.age {
    width: 50px;

}
.patient-info ul li.last-child {
    float: left;
    margin-top: 5px;
}
.tree .primary, .tree-two .primary{
    position: relative;
    top: 100px;
    left: -10px;
}
.tree .primary ul, .tree-two .primary ul{
    margin-top: 100px;
}
.tree .secondary, .tree-two .secondary {
    position: relative;
    left: 70px;
    top: 10px;
    font-size: 16px;
}
.tree .primary + img {
    position: absolute;
    left: 65px;
    margin-top: 73px;
    width: 30px;
    height: 83px;
}
.tree .secondary + img{
    position: absolute;
    left: 150px;
    margin-top: -10px;
    width: 50px;
    height: 63px;
}
.tree .triary {
    position: relative;
    left: 173px;
    top: -55px;
    margin-top: 5px;
}
.tree .triary li {
    padding-bottom: 4px;
    font-size: 14px;
}
.tree-two .primary {
    top: 0;
}
.tree-two .secondary {
    left: 100px;
    top: -40px;
}
table td.vitals {
    padding: 5px 10px;
}
table thead tr th {
    text-align: center;
}
.education {
    width: 250px;
}
.occupation {
    display: block;
}
.education .female {
    position: relative;
    top: -5px;
    left: 18px;
}
.education .male {
    position: relative;
    top: 14px;
    left: -4px;
    border-top: 1px solid #666;
}
.education img {
    position: relative;
    top: 10px;
}
.patient-info ul li.education .label , .patient-info ul li .label-last{
    margin-top: 5px;
    display: table;
    float: left;
}
.case-table table{ height:auto}
.pagetwo-case-table table{
    height:680px;
    padding-top:80px;
}
.pagetwo-case-table table{word-break: break-all;}
.treelogo {
    width: 100%
}
.pagebreak { page-break-before: always; }


.logo {
    width: 25%;
    float: left;
}
.logocont {
    width: 20%;
    float: left;
}